# deps
node_modules/

dist/

.env
.env.prod

ignore/
**/.tanstack/tmp/
.cursor/debug.log
.eslintcache
diff.txt
deep-wallwars/data_8x8_standard/generation_0/game_1.csv
deep-wallwars/data_8x8_standard/generation_0/game_2.csv
deep-wallwars/data_8x8_standard/generation_0/game_3.csv
deep-wallwars/data_8x8_standard/generation_0/game_4.csv
deep-wallwars/data_8x8_standard/generation_0/game_5.csv
deep-wallwars/data_8x8_standard/generation_0/game_6.csv
deep-wallwars/data_8x8_standard/generation_0/game_7.csv
deep-wallwars/data_8x8_standard/generation_0/game_8.csv
deep-wallwars/data_8x8_standard/generation_0/game_9.csv
deep-wallwars/data_8x8_standard/generation_0/game_10.csv
deep-wallwars/data_8x8_standard/generation_0/game_11.csv
deep-wallwars/data_8x8_standard/generation_0/game_12.csv
deep-wallwars/data_8x8_standard/generation_0/game_13.csv
deep-wallwars/data_8x8_standard/generation_0/game_14.csv
deep-wallwars/data_8x8_standard/generation_0/game_15.csv
deep-wallwars/data_8x8_standard/generation_0/game_16.csv
deep-wallwars/data_8x8_standard/generation_0/game_17.csv
deep-wallwars/data_8x8_standard/generation_0/game_18.csv
deep-wallwars/data_8x8_standard/generation_0/game_19.csv
deep-wallwars/data_8x8_standard/generation_0/game_20.csv
deep-wallwars/logs/standard_8x8.log
deep-wallwars/models_8x8_standard/model_1.onnx
deep-wallwars/models_8x8_standard/model_1.pt
deep-wallwars/models_8x8_standard/model_1.trt
